@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body{
    background-color: var(--background-color);
    font-family: poppins;
    overflow-x: hidden;
    max-width: 125rem;
    margin: auto;
    color: #EFEFEF;
}
:root{
    --background-color: #1B1B1B;
    --background-color-dark1: #070707;
    --primary-color: #3454D1;
    --secondary-color: #D1345B;
    --tertiary-color: #34D1BF;
    --primary-text-color:#EFEFEF;
    --secondary-text-color: #3454D1;
}
*{
    box-sizing: border-box;
    margin: 0;
}
ul{
    margin: 0px;
    padding: 0px;
}
span{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: var(--background-color);
}
.sidebar-items-container-mobile{
    margin-left: 0px;
}
.nav-item-mobile{
    display: flex;
    align-items: center;
    margin: 1rem 1rem;
    height: 70px;
}
.nav-item-mobile:hover{
    border: 2px solid var(--primary-color);
    border-radius: 2rem;
}
.active{
    background-color: var(--primary-color);
    border-radius: 2rem;
}
.nav-item-mobile i{
    flex: 0.2;
    margin: 0rem 0.5rem 0rem 2.5rem;
}
.nav-item-text{
    flex: 1;
}
.navbar{
    box-shadow: 0px 1px 3px 2px var(--tertiary-color);
}
.navbar-icons-container img{
    width: 2rem;
    cursor: pointer;
}
.logo-text{
    color: var(--primary-text-color);
}
.col-1{
    grid-column: 1 / 2;
}
.col-2{
    grid-column: 2 / 3;
}
.flex-1{
    flex: 1;
}
.primary-color{
    color: var(--primary-color);
}
.input-box .nav-searchbar{
   color: var(--primary-text-color);
}
.input-box .nav-searchbar:focus{
    border: 2px solid var(--primary-color);
}
.page-container{
    display: grid;
    grid-template-columns: 300px auto;
}
.quiz-heading-container{
    margin: 2rem 2rem;
}
.quiz-btn-container{
    margin: 2rem 2rem;
}
.quiz-info-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
}
.quiz-info-image{
    border-radius: 1rem;
}
.quiz-button{
    padding: 1rem 3.5rem;
    border-radius: 2rem;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 1.3rem;
}
@media only screen and (max-width: 870px){
    .page-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}